@mixin full_page {
	position: fixed;
	top: 0;
	opacity: 0;
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	transition: opacity 1000ms;
	&.prev {
	}
	&.next {
	}
	&.current {
		display: flex;
		opacity: 100;
		z-index: 1;
		.row {
			width: 100%;
		}
	}
	.btn {
		margin-top: 20px;
	}
}
@keyframes loading {
	0% {
		left: -140px;
	}
	50% {
		left: 290px;
	}
	100% {
		left: -140px;
	}
}
$title_row_height: 75px;
#loading_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.maintext {
		margin-bottom: 10px;
	}
	.subtext {
		text-align: center;
		margin-top: 10px;
	}
}
#loader {
	height: 3px;
	width: 300px;
	overflow: hidden;
	position: relative;
	.bar {
		background-color: #000;
		height: 100%;
		width: 150px;
		position: absolute;
		left: -149px;
		animation-name: loading;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}
}
.container-fluid {
	@include full_page();
	> .row {
		height: 100%;
	}
}
.form {
	.form-control {
		&.has_error {
			border-color: red !important;
		}
	}
	label {
		h3 {
			display: flex;
			small {
				font-size: 0.4em;
				color: red;
			}
		}
	}
}

#comparison_page {
	justify-content: center;
	flex-wrap: wrap;
	.sub_title {
		display: flex;
	}
	> .row {
		height: auto;
	}
	.title_row {
		height: $title_row_height;
	}
	.content_row {
		height: calc(100vh - #{$title_row_height});
	}
}
#multi_view {
	height: 100%;
}
#img_wrap {
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	overflow-y: scroll;
	img {
	}
}
