

@mixin full_page {
	position: fixed;
	top: 0;
	left: 100vw;
	right: -100vw;
	bottom: 0;
	display: none;
	transition: left 1000ms, right 1000ms;
	&.prev {
		left: -100vw;
		right: 100vw;
	}
	&.next {
		left: 100vw;
		right: -100vw;
	}
	&.current {
		display: flex;
		left: 0;
		right: 0;
		.row {
			width: 100%;
		}
	}
	.btn {
		margin-top: 20px;
	}
}
form.container-fluid {
	@include full_page();
	.row {
		height: 100%;
	}
}


#comparison_page {
	@include full_page();
}

input {
	&.has_error {
		border-color: red !important;
	}
}
.loading_text {
	position: relative;
	color: rgba(0, 0, 0, .3);
	font-size: 5em
}
.loading_text:before {
	content: attr(data-text);
	position: absolute;
	overflow: hidden;
	max-width: 110%;
	white-space: nowrap;
	color: #333;
	animation: loading 5s ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes loading {
	0% {
		max-width: 0;
	}
}
